/*.t4.my-inside article {  commented out by MH
    display: flex;
}*/
/* line 5, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside .bg-image-full {
  min-height: 100px;
  padding: 1em 7%;
  /*background-image: linear-gradient(-180deg, rgba(0,132,83,1) 5%, rgba(0,132,83,1) 50%, rgba(0,78,56,1) 100%);*/
}

/* line 11, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside #quadrants {
  align-self: center;
}

/* line 15, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside aside.sidebar {
  display: none;
}

/* line 19, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box1 {
  background: #fff;
}

/* line 23, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box3.general,
.t4.my-inside article .box4.calendar {
  background: #f0e1b0;
}

/* line 28, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box4.general {
  background: #fff;
}

/* line 32, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box3.table {
  background: #aa985e;
}

/* line 36, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box1 p,
.t4.my-inside article .box1 li,
.t4.my-inside article .box4 p,
.t4.my-inside article .box4 li {
  color: #000;
}

/* line 43, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box1 h2,
.t4.my-inside article .box1 h3,
.t4.my-inside article .box4 h2,
.t4.my-inside article .box4 h3 {
  color: #043927;
}

/* line 50, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box1 a.button-cta,
.t5.my-inside article a.button-cta,
.t5.my-inside article a.button-cta:link,
.t5.my-inside article a.button-cta:visited {
  color: #043927;
  border: 2px solid #043927;
  background: rgba(196, 182, 129, 0.15);
  font-weight: 500;
}

/* line 60, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside a.button-cta,
.t4.my-inside a.button-default {
  color: #00573d;
  text-decoration: none;
}

/* line 66, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside a:not(.button-cta),
.t4.my-inside a:not(.button-default),
.t4.my-inside a.button-cta:hover,
.t4.my-inside a.button-default:hover {
  color: #043927;
  text-decoration: underline;
}

/* line 75, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box1 a.button-cta:hover,
.t5.my-inside article a.button-cta:hover {
  color: #00573d;
  border: 2px solid #00573d;
  background: #fff;
  text-shadow: none;
  box-shadow: rgba(196, 182, 129, 0.6) 0 1px 3px;
  text-decoration: underline;
}

/* line 85, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button {
  background: #c4b581;
}

/* line 89, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .box4.button {
  background: #dad490;
}

/* line 93, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button .side-nav h2 {
  background: #fff;
}

/* line 97, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button .side-nav h3 {
  background: #ece7d4;
}

/* line 101, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button .side-nav ul:last-of-type {
  border-bottom: 2px solid #f0e1b0;
}

/* line 105, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button .side-nav li {
  border-bottom: 1px solid #f0e1b0;
  background: #ece7d4;
}

/* line 110, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button .side-nav li a {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}

/* line 115, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .general a {
  color: #043927;
}

/* line 119, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .general a:hover {
  color: #021e14;
  text-decoration: none;
}

/* line 124, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article .button .side-nav li a:hover {
  color: #043927;
  background: rgba(207, 182, 104, 0.15);
}

@media screen and (min-width: 1140px) {
  /* line 130, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
  .t4.my-inside article {
    background-image: linear-gradient(180deg, #e1c57a 0, #f0e1b0 3%, white 60%, white 100%);
    padding: 0;
  }
}

/* line 136, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.my-inside section {
  margin-top: 0;
  padding: 2em 0;
}

/* line 141, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t5.my-inside section ul:not(.ul-button-stack),
.t5.my-inside section ul:not(.ul-button-2wide),
.t5.my-inside section ol:not(.ul-button-stack),
.t5.my-inside section ol:not(.ul-button-2wide) {
  margin-top: 0;
}

/* line 148, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside article ul.ul-button-stack,
.t4.my-inside article ul.ul-button-2wide,
.t4.my-inside article ol.ul-button-stack,
.t4.my-inside article ol.ul-button-2wide,
.t5.my-inside section ul.ul-button-stack,
.t5.my-inside section ul.ul-button-2wide,
.t5.my-inside section ol.ul-button-stack,
.t5.my-inside section ol.ul-button-2wide {
  margin-top: 0;
  list-style: none;
}

/* line 160, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t5.my-inside.two-column section ul.ul-button-stack,
.t5.my-inside.two-column section ol.ul-button-stack {
  margin-top: 0;
  list-style: none;
}

/* line 166, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t5.my-inside section .side-nav ul,
.t5.my-inside section .side-nav ol {
  padding-left: 0;
  list-style: none;
}

/* line 172, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t5.my-inside .bg-image-full {
  min-height: 100px;
  padding: 1em 7%;
  /*background-image: linear-gradient(320deg, rgba(0,132,83,1) 5%, rgba(0,132,83,1) 50%, rgba(0,78,56,1) 100%);*/
}

/* line 178, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t5.my-inside article {
  background: #f7f4e9 url(../images/background-accent-double-ss.png) no-repeat right bottom;
  background-size: contain;
}

/* line 183, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t5.my-inside .one-column section h1 + p,
.t5.my-inside .two-column section h1 + p {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  /* line 189, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
  .t5.two-column.showcase.my-inside section div.row div.col-md-6:nth-child(2) {
    /*margin-top: 5em;*/
  }
}

/*V2 092920*/
/* line 198, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside.page-inside-irt .jumbotron:not(.flex-section) {
  background-image: linear-gradient(60deg, #c4b581 20%, #dad490 100%);
  background-blend-mode: unset;
}

/* line 203, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside.page-inside-irt #spotlight.jumbotron h2 {
  color: #333;
}

/* line 207, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside.page-inside-irt .jumbotron #spotlight-boxes div.socialbox {
  box-shadow: rgba(196, 181, 129, 0.7) 0 3px 3px;
  border-right: 1px solid #c4b581;
  border-bottom: 1px solid #c4b581;
  border-radius: 8px;
  overflow: hidden;
}

/* line 215, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside #spotlight div.socialbox a {
  background: url(../images/comb-pattern-1.svg), linear-gradient(-20deg, white 0%, white 35%, #f0e1b0 100%);
  background-blend-mode: multiply;
}

/* line 65 */
/* line 223, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside.page-inside-irt article .box2.button {
  background: #dad490;
}

/* line 227, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
.t4.my-inside.page-inside-irt article .box4.button {
  background: #c4b581;
}

@media screen and (min-width: 1140px) {
  /* line 232, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/internal-inside.scss */
  .t4.my-inside.page-inside-irt #quadrants {
    margin: 2rem auto;
  }
}

/*# sourceMappingURL=internal-inside.css.map */