/* ========================= Main Button ======================= */
/* line 5, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.template-gallery .event-location a.button-cta, .template-gallery .event-location a.button-default, .template-gallery .event-location a.link-button,
a.button-cta,
a.button-default,
a.link-button {
  display: inline-block;
  padding: .7em 3%;
  color: var(--stgr);
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid var(--wgo);
  border-radius: 4px;
  width: 100%;
  margin: 1em 0;
  text-align: center;
  text-decoration: none;
  text-align: center;
}

/* line 19, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.template-gallery .event-location a.button-cta:hover, .template-gallery .event-location a.button-cta:focus, .template-gallery .event-location a.button-default:hover, .template-gallery .event-location a.button-default:focus, .template-gallery .event-location a.link-button:hover, .template-gallery .event-location a.link-button:focus,
a.button-cta:hover,
a.button-cta:focus,
a.button-default:hover,
a.button-default:focus,
a.link-button:hover,
a.link-button:focus {
  color: var(--ssgr);
  background: var(--wgo20a);
  text-decoration: underline;
}

/* line 26, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.template-gallery .event-location a.button-cta:visited, .template-gallery .event-location a.button-default:visited, .template-gallery .event-location a.link-button:visited,
a.button-cta:visited,
a.button-default:visited,
a.link-button:visited {
  color: var(--graydk);
  border-color: var(--graymd);
}

/* line 35, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
ul.wide-button-list, ul.ul-button-2wide {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

@media screen and (min-width: 519px) {
  /* line 35, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
  ul.wide-button-list, ul.ul-button-2wide {
    display: flex;
  }
}

/* line 44, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
ul.wide-button-list li, ul.ul-button-2wide li {
  flex: 1;
}

@media screen and (min-width: 519px) {
  /* line 44, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
  ul.wide-button-list li, ul.ul-button-2wide li {
    flex: 1 1 50%;
    margin-right: 2%;
  }
  /* line 49, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
  ul.wide-button-list li:nth-child(even), ul.ul-button-2wide li:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  /* line 44, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
  ul.wide-button-list li, ul.ul-button-2wide li {
    flex: 0 1 48%;
    margin-right: 4%;
  }
  /* line 56, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
  ul.wide-button-list li:nth-child(even), ul.ul-button-2wide li:nth-child(even) {
    margin-right: 0;
  }
}

/* line 62, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
ul.ul-button-stack {
  padding: 0;
  list-style: none;
  margin: 1em 0;
}

/* line 66, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
ul.ul-button-stack li {
  /*margin-bottom: 1em;*/
}

/* line 68, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
ul.ul-button-stack li .button-default {
  margin-bottom: 0;
}

/* =================  t3/4 Showcase Button  ======================= */
/* line 79, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.showcase ul {
  list-style: none;
  padding: 0 5%;
  margin-right: 10%;
  text-align: center;
}

/* line 84, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.showcase ul li {
  width: 60%;
  margin: 0 auto 0 10%;
}

/* line 88, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.showcase ul li a:link, .showcase ul li a:visited {
  font-size: 18px;
  line-height: 1.25;
  display: block;
  padding: 1em 5%;
  border: 2px solid var(--wgolt);
  border-radius: 4px;
  background: #ffc107;
  min-width: 200px;
  text-decoration: none;
  text-align: center;
  color: #004e38;
  min-width: 300px;
  margin: 0 15% 0 10%;
}

@media screen and (max-width: 992px) {
  /* line 88, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
  .showcase ul li a:link, .showcase ul li a:visited {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    margin: 0 auto;
  }
}

/* line 112, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.showcase ul li a:hover, .showcase ul li a:focus {
  border: 2px solid #fff;
  background: rgba(255, 193, 7, 0.7);
  text-decoration: none;
  color: #fff;
}

/* =================  Exceptions ======================= */
/* line 128, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.t5[class*="404"] .ul-button-stack.three-wide {
  max-width: 100%;
  margin: 0;
}

/* line 131, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-buttons.scss */
.t5[class*="404"] .ul-button-stack.three-wide a.button-default {
  width: 100%;
}

/* Replace above */
/* =================== PDDG Original Buttons ================================= */

/*# sourceMappingURL=module-buttons.css.map */