/* IRT hypeNav Exception */
/* line 4, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav:after {
  display: none;
}

/* line 8, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #spotlight.jumbotron h2 {
  margin: 0;
  padding: 0;
  text-indent: -999px;
  height: 1px;
  overflow: hidden;
}

/* line 16, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology .jumbotron,
.t3.page-information-resources-technology #hypenav {
  /*background: #f0e1b0;*/
  background-image: linear-gradient(90deg, #004e38 20%, #008453 100%);
  padding: 2rem;
}

/* line 23, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav {
  padding-bottom: 1rem;
}

/* line 27, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #spotlight.jumbotron {
  padding-top: 1rem;
}

/* line 32, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top,
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes {
  margin-bottom: 1rem;
  /*padding-bottom: 1rem;*/
  /*border-bottom: 1px solid #008554;*/
}

/* line 39, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div[class*='hypeNav-boxes'] > div {
  padding: 0;
  margin-bottom: 1rem;
}

/* line 44, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div[class*='hypeNav-boxes'] a {
  display: flex;
  border-radius: 8px;
  /*margin-bottom: 4px;*/
  border-bottom: #043927 solid 2px;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3;
  background: #00573d;
  color: #fff;
  margin: 0 2%;
  min-height: 6rem;
  align-items: center;
  justify-content: center;
}

/* line 61, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top a {
  /*same as spotlight social box css from type-base line 174 */
  border-bottom: #043927 solid 4px;
  background: linear-gradient(-20deg, #e6ea85 0%, #e6ea85 35%, #e8b90e 100%);
  box-shadow: rgba(0, 78, 56, 0.75) 0 3px 3px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  color: #004e38;
}

/* line 71, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top a[href*='service-now'] {
  background: #f7fb92;
}

/* line 75, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes a:hover,
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes a:focus {
  background-color: #008554;
  border-bottom: #000 solid 2px;
}

/* line 81, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top a:hover,
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top a:focus {
  background: linear-gradient(-20deg, #e6ea85 0%, #e8b90e 75%, #e8b90e 100%);
  box-shadow: rgba(0, 78, 56, 0.75) 0 1px 1px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

/* line 89, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top a[href*='service-now']:hover,
.t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top a[href*='service-now']:focus {
  background: #fff;
}

@media screen and (min-width: 640px) {
  /* line 96, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
  .t3.page-information-resources-technology #hypenav div[class*='hypeNav-boxes'] {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }
  /* line 102, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
  .t3.page-information-resources-technology #hypenav div.hypeNav-boxes-top {
    margin-bottom: 1rem;
  }
  /* line 105, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module_hypenav.scss */
  .t3.page-information-resources-technology #hypenav div.hypeNav-boxes div {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=module_hypenav.css.map */