/* line 1, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav {
  background-color: var(--hgob20a);
}

/* line 7, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav h2,
.button h2 {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 1rem 5% .5rem;
  margin-bottom: 0;
}

/* line 13, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav h3,
.button h3 {
  font-size: 1.3rem;
  padding: .5rem 5%;
  margin: 0;
}

/* line 18, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav ul,
.button ul {
  padding: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  list-style: none;
  margin: 0;
}

/* line 24, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav ul li,
.button ul li {
  padding: 0;
}

/* line 26, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav ul li:last-of-type,
.button ul li:last-of-type {
  border-bottom: 0;
}

/* line 29, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav ul li a,
.button ul li a {
  display: block;
  padding: 1.25em 5% 1.25em 7%;
  text-decoration: none;
  line-height: 1;
  font-weight: 400;
  font-size: 1rem;
}

/* line 36, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav ul li a:hover, .quad-auto-nav ul li a:focus,
.button ul li a:hover,
.button ul li a:focus {
  background: var(--wgo20a);
  color: var(--ssgr);
  text-decoration: underline;
}

/* line 46, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav h2,
.button .box-auto-nav h2 {
  background: var(--hgob);
  color: var(--brzdk);
}

/* line 50, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav h3,
.button .box-auto-nav h3 {
  background: var(--hgo);
  color: var(--brzdk);
}

/* line 54, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav ul,
.button .box-auto-nav ul {
  background: #fff;
  color: #333;
}

/* line 57, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav ul:last-of-type,
.button .box-auto-nav ul:last-of-type {
  border-bottom: 2px solid var(--hgob);
}

/* line 60, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav ul li,
.button .box-auto-nav ul li {
  border-bottom: 2px solid var(--hgob);
}

/* line 62, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav ul li a,
.button .box-auto-nav ul li a {
  background: #fff;
  color: var(--stgr);
}

/* line 65, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .box-auto-nav ul li a:hover, .quad-auto-nav .box-auto-nav ul li a:focus,
.button .box-auto-nav ul li a:hover,
.button .box-auto-nav ul li a:focus {
  background: var(--hgob40a);
  color: var(--ssgr);
  text-decoration: underline;
}

/* line 76, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav h2,
.button .side-nav h2 {
  background: #fff;
  background: var(--wgo20a);
  color: var(--brzdk);
  border: 2px solid var(--wgo);
  border-bottom: 0;
}

/* line 83, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav h3,
.button .side-nav h3 {
  background: var(--wgolt);
  color: var(--brzdk);
}

/* line 87, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav ul,
.button .side-nav ul {
  background: #fff;
  color: #333;
}

/* line 90, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav ul:last-of-type,
.button .side-nav ul:last-of-type {
  border-bottom: 2px solid var(--wgo);
}

/* line 93, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav ul li,
.button .side-nav ul li {
  border: 2px solid var(--wgo);
  border-bottom: 0;
}

/* line 96, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav ul li a,
.button .side-nav ul li a {
  background: #fff;
  color: var(--stgr);
}

/* line 99, ../../../../../Volumes/cascade-managed/mengtest/web-mobile/_internal/scss/module-t4quad-lists.scss */
.quad-auto-nav .side-nav ul li a:hover, .quad-auto-nav .side-nav ul li a:focus,
.button .side-nav ul li a:hover,
.button .side-nav ul li a:focus {
  background: var(--wgo40a);
  color: var(--ssgr);
  text-decoration: underline;
}

/*# sourceMappingURL=module-t4quad-lists.css.map */